<nav class="navbar navbar-expand-lg shadow-sm custom-navbar">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "kibun_gohan_logo.png", class: "logo-img" %>
    <% end %>

    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav gap-2">
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-warning btn-sm" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-warning btn-sm" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
