<footer class="bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="row">
      <!-- リンクエリア -->
      <div class="col-12 text-center mb-3">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mx-2">
            <%= link_to "利用規約", terms_path, class: "text-light text-decoration-none" %>
          </li>
          <li class="list-inline-item mx-2">|</li>
          <li class="list-inline-item mx-2">
            <%= link_to "プライバシーポリシー", privacy_path, class: "text-light text-decoration-none" %>
          </li>
          <li class="list-inline-item mx-2">|</li>
          <li class="list-inline-item mx-2">
            <%= link_to "お問い合わせ", contact_path, class: "text-light text-decoration-none" %>
          </li>
        </ul>
      </div>
    </div>
    
    <!-- コピーライト -->
    <div class="row">
      <div class="col-12 text-center">
        <p class="mb-0">&copy; <%= Date.current.year %> Kibun Gohan. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
